html {
    scroll-behavior: smooth;
    font-family: 'Playfair Display', serif;
}
ol, ul {
	list-style: none;
}
.banner {
    background-size: cover;
    min-height: 650px;
    position: relative;
}
.banner-info {
    padding-top: 140px;
}
.bg-color {
    background-color: white;
    min-height: 650px
}
.navbar {
    padding: 20px 0;
    transition: all 0.3s;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    background-color: rgb(226, 43, 217);
    box-shadow: ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.nav-link, .navbar-brand {
    text-transform: uppercase;
    color: black;
    margin-right: 25px;
    font-size: 16px;
    font-weight: 600;

}
.active_tab, .nav-link:hover {
    background-color: rgba(12, 184, 182, 0.21);
    
}
.white-color, .white-color:hover {
    color: blue;
}
.top-nav-collapse {
    padding: 0;
    background: rgba(28,74,90, 0.9);
}
.navbar-toggler {
    border-color: #fff!important;
}
.overlay-detail a i {
    text-align: center;
    position: absolute;
    bottom: 25px;
    font-size: 38px;
    color: #fff;
    margin: 0 auto;
}
.banner-text h1 {
    font-family: 'Candal', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.btn-appoint, .btn-appoint:hover, .btn-appoint:focus {
    padding: 10px 20px;
    font-size: 12px;
    background-color: rgba(12, 184, 182, 0.91);
    border-radius: 3px;
    color: #fff;
}
.banner-logo {
    min-height: 100px;
    margin: 0 auto;
    width: 25%;
    text-transform: uppercase;
}
.banner-logo img{
	display: inline-block;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
/*Service*/
.section-padding {
    padding: 60px 0px;
}
hr.botm-line {
    height: 3px;
    width: 60px;
    background: #ffb737;
    position: relative;
    border: 0;
    margin: 20px 0 20px 0;
}
.icon i {
    color: #0cb8b6;
    font-size: 45px;
    margin-bottom: 25px;
}

/*personel*/
.thumbnail > img {
    display: block;
    max-width: 100%;
    height: 280px;
}
.thumbnail {
    border-radius: 0px;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.caption h3 {
    padding-bottom: 5px;
}
.caption p {
    padding-bottom: 10px;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
/*footer*/
.footer {
    background-color: #325C6A;
    color: #fff;
}
.top-footer {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.ftr-tle {
    height: 50px;
}
.quick-info li i {
    font-size: 8px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: left;
}
.social-icon li {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-right: 5px;
}
.bglight-blue {
    background-color: #3498DB;
}
.bgred {
    background-color: #E74C3C;
}
.bgdark-blue {
    background-color: #2C3E50;
}
.bglight-blue {
    background-color: #3498DB;
}
.top-footer {
    padding: 40px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.footer-line {
    padding: 30px 0px;
    color: #fff;
}

.footer-line a {
    color: #0CB8B6;
}

.quick-info li a{
    color: #fff;
}
.site-link, .site-link:hover, .site-link:focus
{
    color: #0cb8b6;
    text-transform: none;
}
@media (max-width: 751px) and (min-width: 220px) {
    .banner-info {
        padding-top: 50px;
    }
}
@media (max-width: 1400px) and (min-width: 850px) {
    .banner-logo {
        width: 40%;
    }
}


