/** Radio Image Button */
.page-meta-box.form-table td{
	padding: 5px;
}

.f13{
	font-size: 13px !important; 
	line-height: 16px
}

.radio-image-wrapper{
	margin-right: 25px; 
	float: left;
}

.hide-radio{
	position: relative;
	margin-bottom: 6px;
}

.hide-radio img, .hide-radio label{
	display: block;
}

.hide-radio input[type="radio"]{
	position: absolute;
	left: 50%;
	top: 50%;
	opacity: 0;
}

.hide-radio input[type=radio] + label {
	border: 3px solid #F1F1F1;
}

.hide-radio input[type=radio]:checked + label {
  border: 3px solid #CCC;
}
/** Radio Image Button Ends */

.blossom-upload-button[value="Change"], 
.blossom-upload-button[value="Upload"] {
    margin-bottom: 20px;
}

.blossom-screenshot {
    position: relative;
    margin-bottom: 20px;
}

.blossom-screenshot .blossom-remove-image {
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="%23fff" d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"></path></svg>');
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-color: red;
    background-size: 10px;
    overflow: hidden;
    text-indent: 30px;
    cursor: pointer;
}

.bsp-items-wrap {
    background: #f5f5f5;
    padding: 30px 20px;
    margin-bottom: 10px;
    position: relative;
    cursor: move;
}

.bsp-items-wrap.ui-sortable-helper {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.bsp-items-wrap p {
    margin: 0;
}

.bsp-items-wrap input[type="text"] {
    height: 36px;
}

.bsp-items-wrap .bsp-del-item {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    color: #fff;
    background: #cc444d;
    width: 20px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

/* Admin notices */
.notice-info .notice-text {
   position: relative;
}

.notice-text p.dismiss-link {
   position: absolute;
   top: 0;
   right: 0;
   margin: 0;
   padding: 0;
}